# Healthcare Insurance ETL and data cleaning

This dataset from Kaggle (https://www.kaggle.com/datasets/willianoliveiragibin/healthcare-insurance?resource=download) contains information on the relationship between personal attributes (age, gender, BMI, family size, smoking habits), geographic factors, and their impact on medical insurance charges. I will be using it to stud how these factors effect insurange costs.

In [1]:
import numpy as np 
import pandas as pd

### Load data into a pandas dataframe

In [2]:
df = pd.read_csv('../data/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### Check dataset size

In [4]:
df.shape

(1338, 7)

### Get data information

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

### Change datatypes to save memory and improve performance

Age can be changed to an int8 as age cannot be higher than 127. Change object to category.

In [7]:
df = df.astype({'age':'Int8', 'sex':'category', 'smoker':'category','region':'category'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   Int8
 1   sex       1338 non-null   category
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   category
 5   region    1338 non-null   category
 6   charges   1338 non-null   float64
dtypes: Int8(1), category(3), float64(2), int64(1)
memory usage: 38.5 KB

Children could also be int8 as the number is not very high but it could also be category if there are not many possible values

In [8]:
df['children'].unique()

array([0, 1, 3, 2, 5, 4], dtype=int64)

In this dataset people either have 0, 1, 2, 3, 4 or 5 children. Changing the datatype to category means I could analyse how the number of children may change insurance costs later in my analysis

In [9]:
df['children'] = df['children'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   Int8
 1   sex       1338 non-null   category
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   category
 4   smoker    1338 non-null   category
 5   region    1338 non-null   category
 6   charges   1338 non-null   float64
dtypes: Int8(1), category(4), float64(2)
memory usage: 29.5 KB

In [12]:
df.describe().round(2)

          age      bmi   charges
count  1338.0  1338.00   1338.00
mean    39.21    30.66  13270.42
std     14.05     6.10  12110.01
min      18.0    15.96   1121.87
25%      27.0    26.30   4740.29
50%      39.0    30.40   9382.03
75%      51.0    34.69  16639.91
max      64.0    53.13  63770.43